     
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

        {% if title %}
        <title>{{ title }} - SaviApp</title>
        {% else %}
        <title>Welcome to SaviApp</title>
        {% endif %}
    </head>
    <body>
        {% block message %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <span class="message_error"> <li>{{ message }}</li> </span>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        {% endblock %}
        
        {% block content %}{% endblock %}
    </body>
</html>
