{% extends "base.html" %}

{% block message %}
{% endblock %}

{%block content%}
  
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <header>Login</header>
    <label>Username :</label>
    <label>{{ form.username(size=32) }}</label>
    <div class="help">
      {% for error in form.username.errors %}
        [{{ error }}]
      {% endfor %}
    </div>

    <label>Password :&nbsp</label>

    <label>{{ form.password(size=32) }}</label>
    <div class="help">
      {% for error in form.password.errors %}
        [{{ error }}]
      {% endfor %}
    </div>
    
    <div><label> Remember Me: {{ form.remember_me() }} </label></div>

    <div class="input" > {{ form.submit() }}</div> 

    <div> <label> New User? <a href="{{ url_for('register') }}">Click to Register!</a> </div> </label>
  </form>

{%endblock%}