{% extends "base.html" %}

{% block message %}
{% endblock %}

{% block content %}  
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <header>Register</header>
    <label>Username : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <label> {{ form.username(size=32) }} </label>
    <div class="help">
      {% for error in form.username.errors %}
        [{{ error }}]
      {% endfor %}
    </div>

    <label>Email : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <label> {{ form.email(size=32) }} </label>
    <div class="help">
      {% for error in form.email.errors %}
        [{{ error }}]
      {% endfor %}
    </div>

    <label>Password : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <label> {{ form.password(size=32) }} </label>
    <div class="help">
      {% for error in form.password.errors %}
        [{{ error }}]
      {% endfor %}
    </div>

    <label>Confirm password : </label>
    <label> {{ form.password2(size=32) }} </label>
    <div class="help">
      {% for error in form.password2.errors %}
        [{{ error }}]
      {% endfor %}
    </div>
    
   <div class="input" > {{ form.submit() }} </div>

    <div> <label>Already registered? <a href="{{ url_for('login') }}">Click to Sign In!</a></div> </label>
  </form>
{% endblock %}



